# git files
.gitignore export-ignore
.gitattributes export-ignore

# files
src/ export-ignore
README.md export-ignore
babel.config.js export-ignore
rollup.config.js export-ignore
yarn.lock export-ignore